README.txt
*.test
test.html
segment
schematics
schematics.round
schematics.round-and-arrow
schematics.rectangle
schematics.ic
schematics.line
schematics.block
schematics.svg.arc
schematics.label
schematics.twoport
schematics.labeled_block
schematics.sq_polyline-and-block
.git
*bak
